/* -----------------------------------------
    whole home pages
----------------------------------------- */

body {
    /* font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif; */
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

nav {
    background-color: #35357d;
}

.nav-link {
    color: lightgray;
}

#nav-link-dropdown {
    color: lightgray;
}

.jumbotron {
    background-color: azure;
}

footer {
    background-color: #35357d;
}

.footer-text {
    color: lightgrey;
    text-align: center;
}

/* -----------------------------------------
    css for top page
----------------------------------------- */

.index-content {
    background-color: white;
    margin-bottom: 50px;
}

.index-title {
    color: darkblue;
    font-weight: bolder;
    text-decoration: underline;
}

/* -----------------------------------------
    css for news app
----------------------------------------- */

article {
    background-color: azure;
}

.news_title {
    border-bottom: 2px solid paleturquoise;
    color: darkblue;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tab-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.tab-wrap:after {
    content: '';
    width: 100%;
    height: 3px;
    background: DeepSkyBlue;
    display: block;
    order: -1;
}

.tab-label {
    color: White;
    background: LightGray;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    white-space: nowrap;
    text-align: center;
    padding: 10px .5em;
    order: -1;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    flex: 1;
}

.tab-label:not(:last-of-type) {
    margin-right: 5px;
}

.tab-content {
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.tab-switch:checked+.tab-label {
    /* アクティブなタブ */
    background: DeepSkyBlue;
}

.tab-switch:checked+.tab-label+.tab-content {
    /* アクティブなタブ */
    height: auto;
    overflow: auto;
    padding: 15px;
    opacity: 1;
    transition: .5s opacity;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

.tab-switch {
    /* ラジオボタン非表示 */
    display: none;
}

/* -----------------------------------------
    css for forecast app
----------------------------------------- */

.card-img {
    text-align: center;
}

.card-body {
    background-color: azure;
}

.forecast-menu {
    width: 90%;
    padding: 3px;
}

/* table */

table {
    width: 100%;
    font-size: 10pt;
}

th {
    color: midnightblue;
    background-color: azure;
}

.stock-price {
    display: flex;
    vertical-align: baseline;
}

/* -----------------------------------------
    css for factor app
----------------------------------------- */

.factor-img {
    width: 100%;
    text-align: center;
}