{% extends 'base.html' %}

{% block header %}
<nav class="navbar navbar-dark" style="background-color:#35357d;">
    <a href="{% url 'index' %}">Home</a>
</nav>
<div class="jumbotron">
    <div class="container">
        <h1><font size="7">株式リターン騰落予測アプリ</font></h1>
        <p>
            DNNを用いた株式リターンの騰落予想をテストするアプリです。<br/>
            将来的には，モデル設定機能の実装，他の資産クラスへの拡張，
            メール配信機能などの拡張を行う予定です。
        </p>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class='container'>
    <h2><font size="5">モデル一覧</font></h2>
    <p style="margin-bottom: 1.5em;"></p>
    <table class="table">
        <thead>
            <tr>
                <th>ユーザタイトル</th>
                <th>作成日</th>
                <th>モデル学習</th>
                <th>モデル削除</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
                <tr>
                    <td><a href="{% url 'dnn_estimate_app:dnn_est_detail' item.pk %}">{{ item.title }}</a></td>
                    <td>{{ item.model_dev_date }}</td>
                    <td><a href="{% url 'dnn_estimate_app:dnn_est_learn' item.pk %}">学習</a></td>
                    <td><a href="{% url 'dnn_estimate_app:dnn_est_delete' item.pk %}">削除</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p style="margin-bottom: 1.5em;"></p>
    <a href="{% url 'dnn_estimate_app:dnn_est_set' %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">新規モデル登録</a>
    <a href="{% url 'index' %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">アプリ一覧に移動</a>
</div>
{% endblock content %}
