{% extends 'base.html' %}
{% load static %}

{% block header %}
<nav class="navbar navbar-expand-md">
    <div class="collapse navbar-collapse" id="bs-navi">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="nav-link-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'scrape_app:scrape_main' %}">1．ニューススクレイピングアプリ</a>
                    <a class="dropdown-item" href="{% url 'forecast_app:forecast_main' %}">2．市場天気予報アプリ</a>
                    <a class="dropdown-item" href="{% url 'index' %}">3．市場変動要因分解アプリ</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Contact</a></li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1><font size="7">Market Forecast</font></h1>
        <p>
            機械学習を用いて世界各地の市場の天気を予想するアプリです。<br/>
            将来的には、予測モデル設定機能の実装、定性情報の活用、
            メール配信機能などの拡張を行う予定です。
        </p>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class='container'>
    <h2><font size="5">天気予報一覧</font></h2>
    <div class="btn-group d-flex" role="group" aria-label="...">
        <a href="{% url 'forecast_app:forecast_update' %}" class="btn btn-secondary w-100" tabindex="-1" role="button" aria-disabled="true">予報一覧の更新</a>
        <a href="{% url 'forecast_app:forecast_main' %}" class="btn btn-secondary w-100" tabindex="-1" role="button" aria-disabled="true">モデルの確認・変更</a>
        <a href="{% url 'index' %}" class="btn btn-secondary w-100" tabindex="-1" role="button" aria-disabled="true">ホームに戻る</a>
    </div>
</div>

<div class="album py-5">
    <div class="container">
        <div class="row">
            {% for asset_name, prediction_date, result in contents %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-img">
                        <img src="/media/weather/{{ result }}.jpeg" width="200px" height="200px">
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ prediction_date | date:"Y年 n月 j日" }}の{{ asset_name }}市場の天気予報です。
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <button type="button" class="btn btn-sm btn-outline-secondary"><font size="3">モデル詳細</font></button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <h2>
            <font size="5">世界の株価推移</font>
            <font size="3">　※終値ベース。当日の場合は直近値を表示。</font>
        </h2>

        <canvas id="index-graph"></canvas>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
        
        <input type="hidden" id="indexCols" value="{{ index_cols | safe }}">
        <input type="hidden" id="indexData" value="{{ index_data | safe }}">
        <script src="{% static "js/factor-chart.js" %}"></script>
        
        <table class="table" id="index-table">
            <tr>
            {% for col in index_cols %}
                <th>{{ col }}</th>
            {% endfor %}
            </tr>

            {% for index, row in index_data.iterrows %}
            <tr>
                <td>{{ index | date:"Y年 n月 j日" }}</td>
                {% for r in row %}
                <td>{{ r }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        
    </div>
</div>

<footer class="footer mt-auto py-2">
    <div class="footer-text"><font size="2">Copyright 2020</font></div>
</footer>
{% endblock content %}
