{% extends 'base.html' %}

{% block header %}
<nav class="navbar navbar-dark" style="background-color:#35357d;">
    <a href="{% url 'index' %}">Home</a>
</nav>
<div class="jumbotron">
    <div class="container">
        <h1><font size="7">Webアプリ開発訓練所</font></h1>
        <p>
            本サイトは，管理者のWebアプリケーションの開発技術向上を目的に，
            簡易的なWebアプリケーションを作成して公表するサイトです。<br/>
            技術スタックは，Python/C++/HTML/CSS/aws/Linux/Nginx/Gunicorn...etcです。
        </p>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class='container'>
    <h2><font size="5">1. 日経スクレイピングアプリ</font></h2>
    <p>
        日経新聞電子版の最新のニュースを収集するウェブアプリの試作品です。<br/>
        将来的には，個別ニュース記事の詳細表示，ジャンル分け，並列化による更新，
        自然言語処理の応用などの拡張を行う予定です。
    </p>
    <a href="{% url 'scrape_app:scrape_main' %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">日経スクレイピングアプリに移動</a>
    <p style="margin-bottom: 1.5em;"></p>
    <h2><font size="5">2. 株式リターン騰落予測アプリ</font></h2>
    <p>
        DNNを用いた株式リターンの騰落予想をテストするアプリです。<br/>
        将来的には，モデル設定機能の実装，他の資産クラスへの拡張，
        メール配信機能などの拡張を行う予定です。
    </p>
    <a href="{% url 'dnn_estimate_app:dnn_est_main' %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">株式リターン騰落予測アプリに移動</a>
</div>
{% endblock content %}
