{% extends 'base.html' %}

{% block header %}
<nav class="navbar navbar-expand-md">
    <div class="collapse navbar-collapse" id="bs-navi">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="nav-link-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'scrape_app:scrape_main' %}">1．ニューススクレイピングアプリ</a>
                    <a class="dropdown-item" href="{% url 'forecast_app:forecast_main' %}">2．市場天気予報アプリ</a>
                    <a class="dropdown-item" href="{% url 'index' %}">3．市場変動要因分解アプリ</a>
                    <a class="dropdown-item" href="{% url 'dnn_estimate_app:dnn_est_main' %}">DNN（旧）</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Contact</a></li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1><font size="7">Webアプリ開発ラボ</font></h1>
        <p>
            本サイトは、管理者のWebアプリケーションの開発技術向上を目的に、
            簡易的なWebアプリケーションを作成して公表するサイトです。<br/>
            技術スタックは、Python/C++/HTML/CSS/JavaScript/aws/Linux/Nginx/Gunicorn...etc（予定）です。
        </p>
    </div>
</div>
{% endblock header %}

{% block content %}
<main>
    <div class='container'>
    
        <article class="index-content">
            <h2 class="index-title"><font size="5">1. ニューススクレイピングアプリ</font></h2>
            <p>
                日経新聞電子版の最新のニュースを収集するウェブアプリの試作品です。<br/>
                将来的には、他のニュースメディアからの取得、個別ニュース記事の詳細表示、ジャンル分け、
                自然言語処理の応用などの拡張を行う予定です。
            </p>
            <a href="{% url 'scrape_app:scrape_main' %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">ニューススクレイピングアプリに移動</a>
        </article>

        <article class="index-content">
            <h2 class="index-title"><font size="5">2. 市場天気予報アプリ</font></h2>
            <p>
                機械学習を用いて世界各地の市場の天気を予想するアプリです。<br/>
                将来的には、予測モデル設定機能の実装、定性情報の活用、
                メール配信機能などの拡張を行う予定です。
            </p>
            <a href="{% url 'forecast_app:forecast_main' %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">市場天気予報アプリに移動</a>
        </article>

        <article class="index-content">
            <h2 class="index-title"><font size="5">3. 市場変動要因分解アプリ</font></h2>
            <p>
                アロケーションの市場変動をファクターごとに要因分解するアプリです。<br/>
                将来的には、登録したポートフォリオの日次変動要因分解、
                ポートフォリオのバックテスト、将来シミュレーション機能などの拡張を行う予定です。
            </p>
            <a href="{% url 'factor_app:factor_main' %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">市場変動要因分解アプリに移動</a>
        </article>

    </div>
</main>

<footer class="footer mt-auto py-2">
    <div class="footer-text"><font size="2">Copyright 2020</font></div>
</footer>
{% endblock content %}
